<p>This is the help home page content</p>

@* MAKE SURE SEARCH FUNCTIONAL *@
<p>PUT SEARCH BAR IN FAQ SIDEBAR, MAKE FUNCTIONAL</p>
<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" aria-label="search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>