@{
  Layout = "~/Views/Shared/_Layout.cshtml";
}

@section Header {
  <div class="container-lg px-0">
    <h1>Help Page</h1>
  </div>
}

<nav class="nav nav-tabs container-lg px-0">
  <li class="nav-item">
    <a class="nav-link" asp-area="Help" asp-controller="Home" asp-action="Index" asp-route-topic="" asp-route-category="">Home</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" asp-area="Help" asp-controller="Tutorial" asp-action="Index" asp-route-id="1">Tutorial</a>
  </li>
</nav>

@RenderBody()