@{
    ViewData["Title"] = "About";
}

@section Header {
    <h1 class="display-4">About</h1>
}

<div class="text-center">
    <p>I'm a paragraph tag from the About.cshtml file inside a div with a class of .text-center</p>
</div>