@{
    ViewData["Title"] = "Contact";
}

@section Header {
    <h1 class="display-4">Contact</h1>
}

<div class="text-center">
    <p>I'm a paragraph tag from the Contact.cshtml file inside a div with a class of .text-center</p>
</div>