@{
    ViewData["Title"] = "Home";
}

@section Header {
    <h1 class="display-4">Home</h1>
}

<div class="text-center">
    <p>I am a paragraph tag from the Index.cshtml file inside a div with a class of .text-center</p>
</div>
